<main>
       <!-- WELCOME BOX -->
      <div class="card shadow-sm border-0 mb-4 mt-2">
         <div class="card-body">
            <h3 class="fw-semibold mb-1">Welcome, Admin 👋</h3>
            <p class="text-muted">
               Glad to see you! Manage your panel using the options below.
            </p>
         </div>
      </div>

      <!-- UNDER CONSTRUCTION -->
      <div class="alert alert-warning border-0 shadow-sm py-3 rounded-3 text-center">
         <h5 class="fw-bold mb-1">🚧 Page Under Construction</h5>
         <p class="mb-0">We are working hard to finish this section. Stay tuned!</p>
      </div>
</main>